
.navbar {
    background-color: #ebe4e4;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: sticky;
    top: 0;
  }
  
  .links {
    margin-right: 50px;
    display: flex;
    padding: 15px;
    
    font-family: "DM Sans" sans-serif;
    font-weight: 500;
  }
  
  .links a {
    text-decoration: none;
    color: #141111;
    margin-right: 45px;
        font-size: 20px;
        transition: transform 0.3s ease-in-out;
  }
  .links a:hover {
    color: #ca1b1b;
    transform: scale(1.2);

  }


  